* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SEZIONE BACKGROUND */

.background {
    height: 100vh;
}

.background-top {
    height: 15%;
    background-color: #009688;
}

.background-bottom  {
    height: 85%;
    background-color: #D8DBD5;
}

/* SEZIONE FINESTRA WHATSAPP */

#wrapper-main   {

    height: 90%;
    width: 80%;
    position: fixed;
    top: 6%;
    left: 10%;
}

/* SEZIONE SINISTRA - LISTA CONTATTI */

#contact-window {
    float: left;
    width: 35%;
    height: 100%;
    background-color: pink
}

/* SEZIONE DESTRA - TALK WINDOW */

#talk-window {
    float: left;
    width: 65%;
    height: 100%;
    background-color: lightgreen;
}

.header, .footer{
    height: 70px;
    background-color: #EDEDED;
}

.main-talk  {
    height: calc(100% - 140px);
    background-image: url('img/wallpaper.jpg');
    background-repeat: repeat;
    background-size: contain;

}
