* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* SEZIONE BACKGROUND */

.background {
    height: 100vh;
}

.background-top {
    height: 15%;
    background-color: #009688;
}

.background-bottom  {
    height: 85%;
    background-color: #D8DBD5;
}

/* SEZIONE FINESTRA WHATSAPP */

#wrapper-main   {

    height: 90%;
    width: 80%;
    position: fixed;
    top: 6%;
    left: 10%;
}

/* SEZIONE SINISTRA - LISTA CONTATTI */

#contact-window {
    float: left;
    width: 35%;
    height: 100%;
    background-color: #FFFFFF;
    border-right: 1px solid #E4E5E6;

}

.alert  {
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 20px 5px;
}

.alert p    {
    font-size: 14px;
    margin-left: 5px;
}

.alert a    {
    font-size: 11px;
    color: grey;
    margin-left: 5px;
}

.alert i    {
    color: #8edafc;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
}

.searchbar  {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    padding: 5px;
}

.searchbar i    {
    font-size: 12px;
    padding: 10px 15px;
    background-color: white;
    border-right: 1px solid #EDEDED;
}

.searchbar input    {
    font-size: 11px;
    width: 100%;
    padding: 10px;
    border: none;
}

.contact    {
    padding: 10px 5px;
    border-top: 1px solid #E4E5E6;

}

/* SEZIONE DESTRA - TALK WINDOW */

#talk-window {
    float: left;
    width: 65%;
    height: 100%;

}

.header, .footer{
    height: 60px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.profile    {
    display: flex;
    align-items: center;
}
p   {
    color: black;
}
small   {
    color: #9C9C9C;
    margin-top: 2px;
}

i   {
    color: #9C9C9C;
    font-size: 18px;
}

.margin-left    {
    margin-left: 8px;
}
.margin-right    {
    margin-right: 8px;
}

.main-talk  {
    height: calc(100% - 120px);
    background-image: url('img/wallpaper.jpg');
    background-repeat: repeat;
    background-size: contain;
    padding: 30px 40px 0 40px;
    overflow-y: scroll;
}

.you    {
    padding: 15px 30px 18px 10px;
    max-width: 80%;
    background-color: white;
    border-radius: 8px;
    float: left;
    clear: both;
    margin-bottom: 10px;
    position: relative;
}
.your-contact    {
    padding: 15px 30px 18px 10px;
    max-width: 80%;
    background-color: #DCF8C6;
    border-radius: 8px;
    float: right;
    clear: both;
    margin-bottom: 10px;
    position: relative;
}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.text-message   {
    width: 80%;
    height: 70%;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 5px;
    border-style: none;
}

.footer > i  {
    padding: 0 10px;
}

.ora    {
    font-size: small;
    color: grey;
    position: absolute;
    right: 7px;
    bottom: 3px;
}
